{%extends "base.html" %}

{% block middle %}
{% if request.myUserId %}
    Hello {{request.myUserId}}
{%else%}
<form method="post" action="{% url 'login_handler' %}">
    {%csrf_token%}
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" name='login'>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name='password'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endif%}
{% endblock middle %}